# Binarios
/bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# Entorno
.env
.env.local

# OS
.DS_Store
Thumbs.db
